body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2d3838;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 40px;
}

.button-row {
    display: flex;             /* ¡Esto es lo que los pone en fila! */
    justify-content: center;
    align-items: center;
    gap: 60px;                 /* espacio entre botones */
    flex-wrap: wrap;
}

.button-link {
    text-decoration: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-large {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #cc01ff, #ff15c5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 20px 80px gold;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button:hover {
    box-shadow: 0 10px 20px rgba(255, 0, 102, 0.5);
    transform: translateY(-3px);
}
